[submodule "Chapter 08/local-devnet/blockfrost-backend-ryo"]
	path = Chapter 08/local-devnet/blockfrost-backend-ryo
	url = https://github.com/lley154/blockfrost-backend-ryo
[submodule "Chapter 08/local-devnet/yaci-devkit"]
	path = Chapter 08/local-devnet/yaci-devkit
	url = https://github.com/lley154/yaci-devkit
[submodule "Chapter 08/local-devnet/nami"]
	path = Chapter 08/local-devnet/nami
	url = https://github.com/lley154/nami
